<div>
  <div class="container1">
    <div><span class="fedexicon">
        <a>
          <img class="fdImg" src="./assets/fedexlogo.png" alt="fedex.ping">
        </a>
      </span></div>
    <div class="items-2 item" style="font-weight: 700; color: #FFF; font-size: 1.3rem; margin-left: 30%; font-family: Universe LT W01 45 Light,Arial, Helvetica, sans-serif;">EMEA Customer Contact
      Platform</div>
    <div class="items-4 item"
      style="color: #FFFFFF; font-size: 12.8px; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; ">Account
    </div>
  </div>
  <!-- SECOND -->
  <mat-toolbar style="background-color: #4D148C;">
    <mat-toolbar-row class="container">
      <button mat-icon-button style="color: #FFFFFF;">
        <mat-icon color="white">menu</mat-icon>
      </button>

      <div class="items-1 item" class="listitem1 it"
        style="color: #FFFFFF; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; ">Home</div>
      <div class="items-2 item" class="listitem2 it"
        style="color: #FFFFFF; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; font-weight: 400">FAQ</div>
      <div class="items-3 item" class="listitem3 it"
        style="color: #FFFFFF; font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; font-weight: 400">About</div>

      <!-- </div> -->
    </mat-toolbar-row>

  </mat-toolbar>
  <div>

  </div>


</div>
<div *ngIf="recordingId" style="display: flex;  align-items: center; justify-content: center; padding-top: 18%;">
  <audio controls src=""></audio>
</div>
<router-outlet></router-outlet>